@import '../node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
}

.mat-sidenav {
    min-width: 20vw !important;
}

.base-form {
    padding: 20px;
}

.base-spinner-wrap {
    width: 100%;
    height: 100%;
}

.base-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

.input-full-width {
    width: 100%;
}
